# Server
PORT=3000

# Database
DATABASE_URL="postgresql://postgres.tgynlqfogkgsjzwriceq:147896325@supabase@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET="xxxxxxxxxx"
JWT_EXPIRES_IN="1d"
